@charset "UTF-8";

body{
    background-color: rgb(218, 255, 216);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(49, 94, 48);
}
h1#principal{
    text-align: center;
    background-color: rgb(55, 97, 53);
    color: white;
}

h2{
    color:rgb(83, 116, 82);
}
.basico{
    color:rgb(83, 116, 82);
   
}

.intermediario{
    color: rgb(230, 211, 44);

}

.avancado{
    color: rgb(180, 38, 38);
}

.destaque{
    background-color: rgba(233, 233, 64, 0.205);
}