@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #DFFBFC, #9BC0D9);
}
main{ 
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #718c9eb0;
    width: 600px;
    padding: 20px;
    margin: auto;

}
h1{
    color: #EE6B4D;
    text-align: center;
    text-shadow: 1px 1px 2px #bd553eb9;

}
h2{
    color: #3D5B81;
}

p{
    text-align: justify;
}

